@model MugStore.Web.ViewModels.Blog.PostViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

@Html.Partial("_MenuPartial")

<article id="blog-post" class="site-section">
    <header>
        <h2>@Model.Title</h2>
        @*<div class="post-date">Добавен на: @Model.CreatedOn.ToString("dd.MM.yyyy")</div>*@
    </header>
    <section>
        @Html.Raw(Model.FullDescription)
    </section>
    <footer>
        <ul class="post-tags">
            @foreach (var tag in Model.Tags)
            {
                <li>@tag.Name</li>
            }
        </ul>
    </footer>
</article>

