<section id="canvas-container">
    <div>
        <canvas id="canvas"></canvas>
    </div>
    @if ((bool)ViewBag.ShowRight)
    {
        <div id="canvas-container-right">
            <div data-url="@Url.Action("Upload", "Image")" id="step1">
                <div id="canvas-price-container">
                    <div class="price-container price-container-canvas">
                        <h3>@ViewBag.SingleMugPrice.</h3>
                        <span>00</span>
                        <span> лв.</span>
                    </div>
                    <div id="canvas-price-container-msrp"><s><span>@Html.Raw(string.Format("{0:0.00} лв.", ViewBag.SingleMugMsrpPrice))</span></s> -@ViewBag.Decrease%</div>
                </div>
                <strong><span class="circle">1</span> Качи изображение <i class="far fa-question-circle" aria-hidden="true" id="image-help" data-url="@Url.Action("ImageHelp", "Home")"></i></strong>
                <input type="file">
                <div id="customization-controls-container" class="hidden">
                    <strong><span class="circle">2</span> Задай разположение</strong>
                    <div data-image="0" class="move-controls hidden">
                        <img src="~/images/controls.png" usemap="#controls0">
                        <map name="controls0">
                            <area class="move" data-direction="right" href="#disabled" shape="poly" coords="80,26,75,65,47,42">
                            <area class="move" data-direction="up" href="#disabled" shape="poly" coords="25,5,62,7,41,36">
                            <area class="move" data-direction="left" href="#disabled" shape="poly" coords="5,23,4,59,36,41">
                            <area class="move" data-direction="down" href="#disabled" shape="poly" coords="22,77,57,81,42,48">
                        </map>
                    </div>
                    <div data-image="1" class="move-controls hidden">
                        <img src="~/images/controls.png" usemap="#controls1">
                        <map name="controls1">
                            <area class="move" data-direction="right" href="#disabled" shape="poly" coords="80,26,75,65,47,42">
                            <area class="move" data-direction="up" href="#disabled" shape="poly" coords="25,5,62,7,41,36">
                            <area class="move" data-direction="left" href="#disabled" shape="poly" coords="5,23,4,59,36,41">
                            <area class="move" data-direction="down" href="#disabled" shape="poly" coords="22,77,57,81,42,48">
                        </map>
                    </div>
                    <div data-image="2" class="move-controls hidden">
                        <img src="~/images/controls.png" usemap="#controls2">
                        <map name="controls2">
                            <area class="move" data-direction="right" href="#disabled" shape="poly" coords="80,26,75,65,47,42">
                            <area class="move" data-direction="up" href="#disabled" shape="poly" coords="25,5,62,7,41,36">
                            <area class="move" data-direction="left" href="#disabled" shape="poly" coords="5,23,4,59,36,41">
                            <area class="move" data-direction="down" href="#disabled" shape="poly" coords="22,77,57,81,42,48">
                        </map>
                    </div>

                    <a href="#disabled" id="goto-step2" class="blue-btn">Напред</a>
                </div>
            </div>

            <div id="step2" class="hidden">
                <strong><span class="circle">3</span> Избери количество</strong>
                <input type="range" min="1" max="10" step="1" value="1" id="quantity-range">
                <table>
                    <tr>
                        <td>Цена:</td>
                        <td id="single-price" data-price="@ViewBag.SingleMugPrice">@string.Format("{0:0.00}", ViewBag.SingleMugPrice) лв.</td>
                    </tr>
                    <tr>
                        <td>Количество:</td>
                        <td id="selected-quantity">1</td>
                    </tr>
                    <tr>
                        <td>Доставка:</td>
                        <td id="delivery-fee" data-fee="@ViewBag.DeliveryPrice">
                            @if (ViewBag.DeliveryPrice == 0)
                            {
                                @:за ваша сметка
                                <i class="far fa-question-circle popover" data-title="Информация за доставка" data-content="Доставката е за ваша сметка и се определя от&lt;br&gt;тарифата на избраната куриерска фирма." data-placement="top-left" data-animation="pop"></i>
                            }
                            else
                            {
                                @Html.Raw(string.Format("{0:0.00} лв.", ViewBag.DeliveryPrice))
                            }
                        </td>
                    </tr>
                </table>
                <div class="price-container price-container-calc">
                    <h3>@(ViewBag.SingleMugPrice + ViewBag.DeliveryPrice).</h3>
                    <span>00</span>
                    <span> лв.</span>
                </div>

                <strong><span class="circle">4</span> Определи метод на плащане</strong>
                <select id="payment-method">
                    <option value="1">Наложен платеж (плащане при доставка)</option>
                </select>

                <a href="#" id="goto-step3" class="blue-btn">Напред</a>
                <i class="fas fa-long-arrow-alt-left order-back" data-to-step="1"></i>
            </div>

            <div id="step3" class="hidden">
                <strong><span class="circle">5</span> Попълни данни за доставка</strong>
                <input type="text" name="names" id="names-field" placeholder="Име и фамилия">
                <input type="text" name="phone" id="phone-field" placeholder="Тел. за контакт">
                <div id="email-address-container">
                    <input type="email" name="email" id="email-field" placeholder="Email адрес (незадължително)">
                    <i class="far fa-question-circle popover" data-title="Email адрес" data-content="Ще ви изпратим съобщение когато изпратим поръчката." data-placement="top-left" data-animation="pop"></i>
                </div>
                <select name="city" id="city-dd">
                    @foreach (var city in ViewBag.Cities)
                    {
                        var cityType = "гр.";
                        if (city.Type == MugStore.Data.Models.CityType.Village)
                        {
                            cityType = "с.";
                        }

                        <option value="@city.Id">@city.Name (п.к. @city.PostCode)</option>
                    }
                </select>
                @if (ViewBag.DeliveryPrice == 0)
                {
                    <select name="courier" id="courier-dd">
                        @foreach (var courier in ViewBag.Couriers)
                        {
                            <option value="@courier.Id">@courier.Name</option>
                        }
                    </select>
                }
                <textarea name="address" id="address-field" placeholder="Адрес за доставка"></textarea>
                <textarea name="comment" id="comment-field" placeholder="Коментар / забележка (незадължително)"></textarea>

                <a href="#" data-url="@Url.Action("Create", "Order")" data-send-email-url="@Url.Action("SendEmail", "Order")" class="blue-btn" id="create-order-btn">Поръчай</a>
                <i class="fas fa-long-arrow-alt-left order-back" data-to-step="2"></i>
            </div>

            <div id="step4" class="hidden">
                <div class="status-success">Успешно завършихте вашата поръчка</div>
                <strong id="step4-acronym">Поръчка №<span></span></strong>
                <dl>
                    <dt>Метод на плащане:</dt>
                    <dd id="step4-payment-method"></dd>
                    <dt id="step4-email-dt" class="hidden">Email:</dt>
                    <dd id="step4-email" class="hidden"></dd>
                    <dt id="step4-courier-dt" class="hidden">Куриер:</dt>
                    <dd id="step4-courier" class="hidden"></dd>
                    <dt>Адрес за доставка:</dt>
                    <dd id="step4-address"></dd>
                    <dt>Количество:</dt>
                    <dd id="step4-quantity"></dd>
                    <dt>Крайна цена:</dt>
                    <dd id="step4-price"></dd>
                </dl>
                <div id="step4-delivery-fee" class="hidden">* в цената не е включена доставка <i class="far fa-question-circle popover" data-title="Информация за доставка" data-content="Доставката е за ваша сметка и се определя от&lt;br&gt;тарифата на избраната куриерска фирма." data-placement="top-left" data-animation="pop"></i></div>
            </div>
        </div>
    }
</section>