<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.PageDescription">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <script src='https://www.google.com/recaptcha/api.js?hl=bg'></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '900034700182795');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=900034700182795&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>

    <section id="logo-container">
        <div>
            <img src="~/images/logo.png" alt="mug3.eu logo">
        </div>
        <div>
            @if (ViewBag.PageHeading != null)
            {
                <h1>@ViewBag.PageHeading</h1>
            }
            else
            {
                <h1>Чаша със снимка</h1>
                <h2>Направи си сам чаша със снимки</h2>
            }
        </div>
    </section>

    @if (ViewBag.FashShippingEnabled == true)
    {
        <section id="shipping">
            <div><i class="fas fa-shipping-fast"></i></div>
            <div>
                <p>Бърза изработка</p>
                <p>Всяка поръчка се обработва и изпраща в рамките на същия или следващия работен ден.</p>
            </div>
        </section>
    }
    
    @if (ViewBag.VacationEnabled == true)
    {
        <section id="vacation">
            <div><i class="fas fa-umbrella-beach"></i></div>
            <div>
                <p>На почивка сме</p>
                <p>@ViewBag.VacationMessage</p>
            </div>
        </section>
    }

    @RenderBody()

    <footer id="footer">
        <div>
            <div>
                <h5>За нас</h5>
                Фирмата се занимава с изработка на рекламни материали от 2004г. През това време успя да се наложи с качествена продукция и точността си към клиентите.
                <span id="social-media-links">
                    <a href="https://www.facebook.com/chasha.snimki" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </span>
            </div>
            <div>
                <h5>Бюлетин</h5>
                Абонирайте се за нашия бюлетин за да разберете веднага за новите ни предложения и промоции.
                <form method="post" id="subscribe-to-bulletin-form" data-url="@Url.Action("Add", "Bulletin")">
                    @Html.AntiForgeryToken()
                    <input type="email" placeholder="Email адрес" required="required">
                    <a href="#" class="blue-btn" id="bulletin-add-btn">Запиши</a>
                </form>
                <div id="subscribe-success" class="status-success hidden">Успешна регистрация</div>
            </div>
            <div>
                <h5>Информация</h5>
                <nav>
                    <ol>
                        <li><a href="@Url.Action("index", "home")">Начало</a></li>
                        <li><a href="@Url.Action("index", "gallery")">Галерия</a></li>
                        <li><a href="@Url.Action("index", "blog")">Блог</a></li>
                        <li><a href="@Url.Action("contacts", "home")">Контакти</a></li>
                    </ol>
                </nav>
                <h5>Приятели</h5>
                <nav>
                    <ol>
                        <li><a href="//sitostil.com" target="_blank" rel="noopener">Ситопечат и реклама</a></li>
                        <li><a href="//svetlini.bg" target="_blank" rel="noopener">Осветление за автомобили</a></li>
                        <li><a href="//remont-farove.com" target="_blank" rel="noopener">Ремонт на фарове</a></li>
                    </ol>
                </nav>
            </div>
            <div>
                <h5>Тагове</h5>
                <ul>
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <li><a href="@Url.RouteUrl("Tag", new { acronym = tag.Acronym })">@tag.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/js/libs.min.js" asp-append-version="true"></script>
    <script src="~/js/main.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-80610400-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
