@model MugStore.Web.Areas.Admin.ViewModels.Blog.CreateViewModel
@{
    ViewBag.Title = Model.Title + " - Mug3 Admin";
}
@Html.Partial("_MainDataPartial")

<div class="row margin-top">
    <div class="row">
        <div class="col-md-12">
            <h4>Tags</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul id="post-tag-list" data-post-id="@Model.Id" data-url="@Url.Action("EditTag", "Blog")">
                @foreach (var tag in Model.AllTags)
                {
                    <li>@tag.Name <a href="#disabled" class="btn btn-secondary btn-sm add-tag-btn" data-tag-id="@tag.Id">Add</a></li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <ul id="post-tag-list-right">
                @foreach (var tag in Model.Tags)
                {
                    <li>@tag.Name <a href="#disabled" class="btn btn-secondary btn-sm remove-tag-btn" data-tag-id="@tag.Id">Remove</a></li>
                }
            </ul>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {

            $('.add-tag-btn').on('click', { type: 'add' }, addTagBtnClick);
            $('.remove-tag-btn').on('click', { type: 'remove' }, addTagBtnClick);

            function addTagBtnClick(e) {
                e.preventDefault();
                var $btn = $(this);
                var tagId = $(this).data('tag-id');
                var postId = $('#post-tag-list').data('post-id');
                var type = e.data.type;
                var url = $('#post-tag-list').data('url');
                var csrf = $('input[name=__RequestVerificationToken]').first().val();

                $.ajax({ method: 'POST', url: url, data: { tagId: tagId, postId: postId, type: type, __RequestVerificationToken: csrf } })
                    .done(function (response) {
                        if (response.success) {
                            if (type === 'remove') {
                                $btn.parent().remove();
                            } else {
                                location.reload();
                            }
                        }
                    });
            }

        });
    </script>
}