@model MugStore.Web.Areas.Admin.ViewModels.Order.PreviewViewModel
@{

}

<div class="row">
    <div class="col-md-12">
        <h4>Order @Model.Acronym</h4>
        <ul>
            <li>PriceCustomer: @Model.PriceCustomer</li>
            <li>PriceDelivery: @Model.PriceDelivery</li>
            <li>Quantity: @Model.Quantity</li>
        </ul>
    </div>
    @if (Model.Product != null)
    {
        <div class="col-md-12">
            <strong>Product: <a href="@Url.RouteUrl("Product", new { acronym = Model.Product.Acronym })" target="_blank">@Model.Product.Title</a></strong>
            <a href="@Url.Action("Edit", "Product", new { id = Model.Product.Id })" class="btn btn-secondary btn-sm">Edit</a>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <canvas style="width: 100%; height: 650px;" id="canvas"></canvas>
        </div>
    }
</div>

@section scripts {
    <script src="~/js/libs/babylon.2.3.js"></script>
    <script src="~/js/scene.js"></script>
    <script src="~/js/mug.js"></script>
    <script src="~/js/cart.js"></script>

    <script>
        $(document).ready(function () {

            @if (Model.Product == null)
            {
                <text>
                var scene = Scene;
                scene.init({ canvasId: 'canvas' });

                var mug1 = Mug;
                mug1.init('mug1', { x: 0, height: 2, z: 0 }, scene.getScene());
                mug1.create();

                @foreach (var image in Model.Images)
                {
                    @:mug1.addImage({ name: '@image.Id.ToString()', url: '/Download/@image.Name', width: @image.Width, height: @image.Height, dpi: @image.Dpi, rotation: '@image.Rotation', y: '@image.Y' });
                }
                </text>
            }

        });
    </script>
}