@model MugStore.Web.ViewModels.Gallery.IndexViewModel
@{
    if (Model.CategoryName != null)
    {
        ViewBag.Title = "Чаши със снимки на " + Model.CategoryName.ToLower();
    }
    else
    {
        ViewBag.Title = "Чаши със снимка в 3D изглед";
    }
}

@Html.Partial("_MenuPartial")

<section id="gallery" class="site-section">
    <h2>Галерия</h2>
    <h4>Колекция от предварително създадени 3D модели</h4>
    <div>
        <div id="gallery-left">
            <strong>Категории</strong>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li><a asp-route="GalleryCategory" asp-route-acronym="@category.Acronym">@category.Name</a></li>
                }
            </ul>
        </div>
        <div id="gallery-right">
            <ul>
                @foreach (var product in Model.Products)
                {
                    if (product.Images.Where(i => i.Thumb).Count() == 0)
                    {
                        continue;
                    }
                    <li>
                        <a asp-route="Product" asp-route-acronym="@product.Acronym" title="@product.PageTitle">
                            <img src="@Url.RouteUrl("ProductImage", new { name = product.Images.Where(i => i.Thumb).First().Name })" alt="@(product.PageTitle?.Replace("\"", ""))">
                        </a>
                        <strong>@product.Title</strong>
                        <a asp-route="Product" asp-route-acronym="@product.Acronym" class="blue-btn">Детайли</a>
                    </li>
                }
            </ul>

            <ol class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li>
                        <a asp-controller="gallery" asp-action="index" asp-route-id="@(Model.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var classActive = "";
                    if (Model.CurrentPage == i)
                    {
                        classActive = "active";
                    }

                    <li class="@classActive"><a asp-controller="gallery" asp-action="index" asp-route-id="@i">@i</a></li>
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li>
                        <a asp-controller="gallery" asp-action="index" asp-route-id="@(Model.CurrentPage +1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ol>
        </div>
    </div>
</section>

